<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liujunlong.dao.CoureseMapper">


    <insert id="insert" parameterType="com.liujunlong.pojo.Course">
        insert into course(cid,cname) values(#{cid},#{cname})
    </insert>
</mapper>